{% extends "./Base.html" %}
{% block title %}Home{% endblock %}

{% block head %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/Home.css') }}"> {% endblock %}
{%block body%} 
<script src="{{ url_for('static',filename='script/Home.js') }}"> </script>

  <div id="root"></div>
<div class="initialSplashWindow">
  <h1 class="initialWindowText">
     <span class="textspan1">Welcome...</span>
     <br/>
     <span class="textspan2">...Abroad</span>
  </h1>
</div>
<div class="helperSplashWindow"></div>

{%endblock%}