body{
    background-color: black;
}
.mainContent{
    padding-left: 10%;
    padding-right:10%;
    height:100vh;
    color: blanchedalmond;
    width: 100%;
/*     transform: translateX(-20%); */
/*     opacity: 0%; */
    align-content: center;
}
.heading{
    font-size: 10vw;
    letter-spacing: 0.5em;
    padding-left: 0%;
}
.summaryContent{
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 10%;
}
span{
    padding-left:30%;
}
.class{
    padding-top:2%
}