@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
html{
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    margin: 0%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
}

/* #root{
 padding-left: 10%;
 padding-right: 10%;
 margin-top: 10%;
}  */
.mainPagePhoto{
    max-width: 35%;
    transform: translateY(100%);
    opacity:0%;
}
.initialSplashWindow{
    position: absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;

}
.initialWindowText{
    font-family: 'Bangers', cursive;   
    color: rgb(0, 0, 0);
    font-size: 4vw;
    padding-left: 1%;
    padding-right: 1%;

    -webkit-text-stroke: 2px blanchedalmond;
    position: absolute;
    top:50%;
    left:50%;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
.helperSplashWindow{
    position: absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
    background-color: rgb(71, 59, 82);
    transform: translate(0,100%);
}
.textspan1{
    transform: translateY(100%);
    display: inline-block;
}
.textspan2{
    transform: translateY(100%);
    display: inline-block;
}
.startingAnimationElement{
    align-items: linear;
}
#createdText{
    position: absolute;
    left: 39%;
    width: 30%;
    padding-left: 4.5%;
    top: 24%;
    vertical-align: -webkit-baseline-middle;
    /* background-color: yellow; */
    overflow: hidden;
    /* mix-blend-mode: multiply; */
}
.text1{
    font-family: 'Bangers', cursive;   
    color: rgb(0, 0, 0);
    font-size: 4vw;
    -webkit-text-stroke: 2px blanchedalmond;
    transform: translateX(-120%);
    opacity:0%;
}
.text2{
    font-family: 'Bangers', cursive;    
    color: rgb(0, 0, 0);
    opacity:0%;
    font-size: 4vw;
    -webkit-text-stroke: 2px blanchedalmond;
    transform: translateX(-120%);
/*     padding-left: 1%; */

}
.mainContent{
    padding-left: 10%;
    padding-right:10%;
    margin-top: 10%;
    height:100vh;
    background-color: black;
    color: blanchedalmond;
    width: 100%;
    transform: translateX(-20%);
    opacity: 0%;
    align-content: center;
}
.heading{
    font-size: 10vw;
    letter-spacing: 0.75em;
    padding-left: 0%;
}
.summaryContent{
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 10%;
}

.mainContent2{
    padding-left: 10%;
    padding-right:10%;
    margin-top:0;
    width: 100%;
    height:85vh;
    background-color: rgb(3, 3, 3);
    color: blanchedalmond;
    transform: translateX(-10%);
    opacity: 100%;
    align-content: center;
}
.objective{
    font-size: 10vw;
    letter-spacing: 0.5em;
    padding-left: 0%;
}
.objectiveContent{
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 10%; 
}
.button{
    opacity:0%;
    transform: translateX(-20%);
    padding-left: 10%;
    height: 35vh;
}
.button a{
    margin-left:15%;
}
.button1{
    display: inline-block;
    padding: 0.35em 1.2em;
    border:0.1em solid blanchedalmond;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:blanchedalmond;
    text-align:center;
}
.button1:hover{
    color:#000000;
    background-color:blanchedalmond;
}
.downArrow{
    opacity:0;
}