{% extends "./Base.html" %}
{% block title %}Home{% endblock %}

{% block head %}

 {% endblock %}
{%block body%} 
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/Home.css') }}">
<script src="{{ url_for('static',filename='script/Home.js') }}"> </script>

 

<div  class="startingAnimationElement">
  <img src="{{ url_for('static',filename='Images/(5).jpg') }}" class="mainPagePhoto"/>
  <div id ="createdText"><h1 class="text1">Created By </h1>
  <br/><h2 class="text2">Bhavesh Prasad</h2>
  <img src="{{ url_for('static',filename='Images/Down_Arrow.gif') }}" class="downArrow"/>
</div>
</div>
<div id="root">
  <div class="initialSplashWindow">
    <h1 class="initialWindowText">
       <span class="textspan1">Welcome...</span>
       <br/>
       <span class="textspan2">...Aboard</span>
    </h1>
  </div>
  <div class="helperSplashWindow"></div>  
  
<div class="mainContent" id="summary">
  <h1 class="heading">Summary</h1>
  <br/>
  <div class="summaryContent">
          Engineering student studying computer science and engineering at BIT Bangalore.
      Used highly efficient development techniques to build and lead a team of 6 to achieve both short term as well as
      long term goals, strengthening my team player abilities.
      Always keeping an inquisition to learn and my dynamic learning skills has help me gain up to par knowledge of
      various latest technologies and frameworks including .NET, Python, Data Science, SQL, Java, Algorithm designing,
      etc.
      I was nominated the club presidentship for a year which has helped me train my leadership skills and be a mentor
      for junior engineers motivating them in every aspect to be their own leader learn their role in building an
      effective society that works well and grows in membership.
      I’ve also managed all inbound and outbound relations with the concerned club stakeholders communicating all
      the club needs.
      Being a Fast Learner and Team player are some of my most contrasting personalities.
  </div>
</div>
 <div class="mainContent2">
  <h1 class="objective">Objective</h1>
  <div class="objectiveContent">
    • Up-to-date with changes in technology ; business implications / applications of new technologies aspire to
    yearn my career in
    <br/>
    <br/>
    • IT Industry with capabilities to generate innovative ideas and integrate them into desired results offering .
  </div>
 </div>
 <div class="button">
   <a class="btn button1" href="./contactme">Contact me</a> 
    <a class="btn button1" href="./projects">Projects</a>
    <a class="btn button1" href="/Experience">Experience</a>
 </div>

{%endblock%}